html, .root {
  font-size: 18px;
  line-height: 26px;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.44444444em;
  padding: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1, .h1 {
  font-size: 3.38888889em;
  line-height: 1.27868852em;
  margin-top: 0.42622951em;
  margin-bottom: 0.85245902em;
}
h2, .h2 {
  font-size: 2.27777778em;
  line-height: 1.26829268em;
  margin-top: 0.63414634em;
  margin-bottom: 0.63414634em;
}
h3, .h3 {
  font-size: 1.5em;
  line-height: 1.92592593em;
  margin-top: 0.96296296em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.44444444em;
  margin-top: 1.44444444em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.44444444em;
  margin-top: 1.44444444em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.44444444em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
  color: slategrey;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.container {
  max-width: 35em;
  margin: auto;
}
.personal-info{
  max-width: 768px;
  margin: 0 auto;
}

.name h1 {
  margin-bottom: 0;
}
.name h3 {
  color: slategrey;
  margin-top: 0;
}
.name p {
  color: slategrey;
}
.social a{
  text-decoration: none;
  color: rgba(0,0,0,0.7);
}
.social ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.social li {
  margin-right: 1em;
}
article {
  page-break-inside: avoid;
  margin-bottom: 4em;
}
.grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-2{
  width: 100%;
}

[data-value='1'] .graph__item:nth-of-type(-n+1), [data-value='2'] .graph__item:nth-of-type(-n+2), [data-value='3'] .graph__item:nth-of-type(-n+3), [data-value='4'] .graph__item:nth-of-type(-n+4), [data-value='5'] .graph__item:nth-of-type(-n+5), [data-value='6'] .graph__item:nth-of-type(-n+6), [data-value='7'] .graph__item:nth-of-type(-n+7), [data-value='8'] .graph__item:nth-of-type(-n+8), [data-value='9'] .graph__item:nth-of-type(-n+9), [data-value='10'] .graph__item:nth-of-type(-n+10) {
  background: slategrey;
  -webkit-box-shadow: 0 0 20px 0 silver;
  box-shadow: 0 0 20px 0 silver;
}

.graph {
  display: block;
  width: 100%;
}
.graph:before {
  font-size: 80%;
  content: attr(data-label);
}
.graph__container {
  display: inline-block;
  width: 100%;
}
.graph__item {
  display: inline-block;
  border-radius: 1px;
  width: 5%;
  height: 10px;
  background: gainsboro;
}

.btn {
  position: fixed;
  right: 3em;
  bottom: 3em;
  width: 34px;
  padding: 8px;
  border-radius: 2px;
  background: slategrey;
  -webkit-box-shadow: 4px 4px 35px 4px silver;
  box-shadow: 4px 4px 35px 4px silver;
}

@media screen and (min-width: 768px) {
  .social ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .social li {
    width: 100%;
  }
  .col-2 {
    width: 50%;
  }
}

@media screen and (min-width: 35em) {
  .col-2 {
    width: 50%;
  }
}

@page {
  size: A4;
  font-size: 16px;
  margin: 40pt 20pt 70pt;
}

@media print {
  .page{
    page-break-before: always;
  }
  .btn{
    display: none;
  }
}
